.icon-example-menu {
   margin: 0 0 0 -5px !important;
   background: url("../images/example-icon-menu.png") no-repeat;
   background-size: 16px 16px;
}

.esx-icon-example {
   background: url("../images/example-icon-menu.png") no-repeat;
   background-size: 16px 16px;
   display: inline-block;
   height: 16px;
   width: 16px;
   line-height: 16px;
   margin: -1px 4px 0 0;
   vertical-align: middle;
}

.tenantsGrid {
  background-color: red;
}
