
<div ng-controller="DvolEditDatastoreController" class="edit-datastore-dialog">

  <div class="vui-stack-view">
    <div class="stack-view-table">

      <div vui-stack-block="nameBlock">
        <span vui-sb-label>
          Create volumes
        </span>
         <div vui-sb-content>
            <input type="checkbox"
               focus-me="'select'"
               ng-model="permissions.create_volumes"
               title="Create permission"/>
         </div>
       </div>

       <div vui-stack-block="nameBlock" ng-if="permissions.create_volumes" >
         <span vui-sb-label>
           Max volume size
         </span>
          <div vui-sb-content>
             <input type="string"
                focus-me="'select'"
                ng-model="permissions.max_volume_size"
                title="Max volume size"/>
          </div>
        </div>

        <div vui-stack-block="nameBlock" ng-if="permissions.create_volumes" >
          <span vui-sb-label>
           Usage Quota
          </span>
          <div vui-sb-content>
             <input type="string"
                focus-me="'select'"
                ng-model="permissions.usage_quota"
                title="Usage quota"/>
          </div>
        </div>

        <div vui-stack-block="nameBlock">
          <span vui-sb-label>
            Mount volumes
          </span>
           <div vui-sb-content>
              <input type="checkbox"
                 focus-me="'select'"
                 ng-model="permissions.mount_volumes"
                 title="Mount permission"/>
           </div>
        </div>

        <div vui-stack-block="nameBlock">
          <span vui-sb-label>
            Delete volumes
          </span>
           <div vui-sb-content>
              <input type="checkbox"
                 focus-me="'select'"
                 ng-model="permissions.delete_volumes"
                 title="Delete permission"/>
           </div>
        </div>

     </div>

  </div>

</div>
