[Unit]
Description="Docker Volume Driver for vSphere"
Before=docker.service
Requires=docker.service

[Service]
ExecStart=/usr/local/bin/docker-volume-vsphere
Restart=always

[Install]
WantedBy=multi-user.target
