[Unit]
Description="Docker Volume Driver for vSphere"
Before=docker.service
Requires=docker.service

[Service]
ExecStart=/usr/local/bin/vsphere-storage-for-docker -port 1019
Restart=always

[Install]
WantedBy=multi-user.target
